@use 'variaveis';

@mixin formComps() {
    margin: 1rem 0;
    padding: 1.5rem;
    width: 100%;
}

@mixin formDef() {
    display: flex;
    flex-direction: column;
    margin: 5.6vw;
    width: 100%;
    text-align: center;
}

@mixin btn() {
    display: block;
    width: 100%;
    background-color: variaveis.$corPrincipal;
    color: variaveis.$corSecundaria;
    text-align: center;
    padding: 1.5rem;
    border-radius: 3rem;
    border: none;

    &:hover {
    background-color: variaveis.$corSecundaria;
    color: variaveis.$corPrincipal;
    box-shadow: none;
    }
}

.Modal {
    position: absolute;
    left: 0;
    right: 0;
}

.Overlay {
    position: fixed;
    top: 6rem;
    left: 15rem;
    right: 15rem;
    bottom: 6rem;
}

.login {
    background-color: #fff;
    height: 100%;
    width: 100%;

    form {
        @include formDef();

        input {
            @include formComps();
        }

        .cad-res {
            display: flex;
            justify-content: space-between;
            margin: 0 .5rem;
        }

        a {
            color: #000
        }

        button {
            @include formComps();
            @include btn();
            font-size: 1.5rem;
        }
    }
}

.cadastro {
    background-color: #fff;
    height: 100%;
    width: 100%;

    form {
        @include formDef();

        input {
            @include formComps();
        }

        button {
            @include formComps();
            @include btn();
            font-size: 1.5rem;
        }

    }

    a {
        margin: 5.6vw;
        color: variaveis.$corSecundaria;
        font-size: 4rem;

        svg {
            position: fixed;
            bottom: 5rem;
            left: 5rem;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.nav-pills {
    .nav-link.active {
        background-color: variaveis.$corSecundaria;
        color: variaveis.$corTitle;
    }
    
    .nav-link {
        color: variaveis.$corSecundaria;
        box-shadow: none;
    }
}

#aba2 {
    h3 {
        font-weight: bold;
        font-size: 48px;
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid black;
        color: variaveis.$corTitle;
    }

    .product-item {
        margin: 3rem 0;

        p {
            font-family: sans-serif;
            font-size: 1.2rem;
            margin: .1rem 0;
            
            b {
                font-family: sans-serif;

            }
        }
    }
}