@use 'variaveis';

#cardapio {
    .menu {
        a {
            text-decoration: none;
            color: variaveis.$corTitle;
        }

        .coluna {
            &:hover {
                background-color: variaveis.$corSecundaria;
            }
        }
    }
}