@use 'variaveis';

.destaques__list {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    
    &__item {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 4rem 0;
        
        img {
            display: flex;
            justify-content: center;
            max-width: 60%;
            align-items: center;
        }

        p {
            display: flex;
            justify-content: center;
            text-align: center;
            font-weight: bold;
            font-size: 2rem;
            color: variaveis.$corTitle;
        }
    }
}

@media (max-width: 991px) {
    .destaques__list {
        display: block;

        &__item {
            list-style: none;
            margin: 4rem;

            img {
                margin: 0 auto;
            }
        }
    }    
}