@use 'variaveis';

.destaques__list {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10%;
    
    &__item {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 4rem 0;
        
        img {
            display: flex;
            justify-content: center;
            max-width: 100%;
            align-items: center;
            border-radius: 10px;
        }

        p {
            display: flex;
            justify-content: center;
            text-align: center;
            font-weight: bold;
            font-size: 2rem;
            color: variaveis.$corTitle;
        }
    }
}

@media (max-width: 991px) {
    .destaques__list {
        display: block;

        &__item {
            list-style: none;
            margin: 4rem;

            img {
                margin: 0 auto;
            }

            p {
                font-size: 1rem;
            }
        }
    }    
}