@use 'variaveis';

header {
    background-color: variaveis.$corPrincipal;
    width: 100%;

    img {
        height: 4.25rem;
        width: 5.6rem;
    }
    
    li {
        display: inline;
        list-style: none;

        a {
            text-decoration: none;
            color: variaveis.$corSecundaria;
            
        }
    }

    #log {
        display: none;
    }
}

@media (max-width: 991px) {
    header {
        background-color: variaveis.$corPrincipal;
        width: 100%;
        
        #log {
            display: block;
            cursor: pointer;
        }
    }
}

.hsection {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: variaveis.$corPrincipal;
    color: variaveis.$corSecundaria;
    padding: 1.5rem;

    .hsection h2 {
        font-size: 2.6rem;
    }
}