@use 'variaveis';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: variaveis.$fontPrincipal;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 5.6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}