@use 'variaveis';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: variaveis.$fontPrincipal;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        margin: 0;
        padding: 0;
    }
}

button {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}