// Fontes
$fontPrincipal: sans-serif;
$fontDlvr: inknut antiqua;

// Esquema de cores
$corFundo: #c8d6e5;
$corPrincipal: #b41313;
$corSecundaria: #D99455;
$corTitle: #A70D0D;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;