// Fontes
$fontPrincipal: judson;
$fontDlvr: inknut antiqua;

// Esquema de cores
$corFundo: #c8d6e5;
$corPrincipal: #8a1f1f;
$corSecundaria: #D99455;
$corTitle: #A70D0D;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;