@use 'config/reset';
@use 'config/variaveis';
@use 'config/cadastro';
@use 'config/headers';
@use 'sass:math';

/* Hero */
.image-text-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-image: url(../Imgs/bg-hero.png);
  background-size: cover;
  height: 100vh;
  padding: 0 2vw;
  
  &__text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    
    h2 {
      margin-bottom: 24px;
    }
  }
}

.title {
  display: flex;
  font-weight: bold;
  font-size: 48px;
  justify-content: center;
  color: variaveis.$corTitle;
  margin-bottom: 32px;
}

.text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 58px;
  color: #fff;
}

.btn-hero img {
  height: 6rem;
}

/* grid */
.destaques__list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  
  &__item {
    list-style: none;
    margin: 4rem 0;
    
    img {
      max-width: 100%;
    }
  }
}

/* espaço */
.espaco {
  display: block;
  
  &__list {
    list-style: none;
    
    &__item img {
      width: 100%;

    }

    #img1 {
      margin: 5rem 0 2rem;
    }

    #img5 {
      margin: 2rem 0 5rem;
    }
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

/* delivery */
.delivery {
  display: flex;
  margin: 5rem;
  
  img {
    height: 19rem;
  }
  
  &__text {
    font-size: 1.5rem;
    font-family: variaveis.$fontDlvr;
    
    h4 {
      font-size: 3rem;
      color: variaveis.$corPrincipal;
    }
  }
}

.contato {
  background-color: variaveis.$corPrincipal;
  
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    font-size: 2rem;
    color: #fff;
    align-items: center;
    margin: 5rem 0;
    
    img {
      height: 17.7rem;
    }
    
    .maps {
      iframe {
        margin-bottom: 5.6vw;
        height: 17.7rem;
        width: 17.7rem;
        position: relative;
      }
    }

    .rodape {
      grid-column-start: 1;
      grid-column-end: 4;
      border-top: 1px solid #fff;
      
      h2 {
        margin-top: 1.5rem;
        text-align: center;
        font-size: 1rem;
      }
    }
  }
}

button {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.btn {
  border: none;

  &:hover {
  background-color: variaveis.$corSecundaria;
  color: variaveis.$corPrincipal;
  box-shadow: none;
  }
}

.btn__login {
  position: fixed;
  bottom: 5rem;
  right: 10rem;
  border-radius: 45px;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  color: variaveis.$corSecundaria;
  font-size: 4rem;

  &:hover {
    transform: scale(1.2);
  }
}



.btn__up {
  position: fixed;
  bottom: 5.3rem;
  right: 5rem;
  border-radius: 45px;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  color: variaveis.$corSecundaria;
  font-size: 4.5rem;
  
  &:hover {
    transform: scale(1.2);
  }
}