@use 'config/reset';
@use 'config/variaveis';
@use 'config/headers';
@use 'config/hero';
@use 'config/destaques';
@use 'config/espaco';
@use 'config/delivery';
@use 'config/contato';
@use 'config/cadastro';

button {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.btn {
  border: none;

  &:hover {
  background-color: variaveis.$corSecundaria;
  color: variaveis.$corPrincipal;
  box-shadow: none;
  }
}

.btn__login {
  position: fixed;
  bottom: 5rem;
  right: 10rem;
  border-radius: 45px;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  color: variaveis.$corSecundaria;
  font-size: 4rem;

  &:hover {
    transform: scale(1.2);
  }
}



.btn__up {
  position: fixed;
  bottom: 5.3rem;
  right: 5rem;
  border-radius: 45px;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  color: variaveis.$corSecundaria;
  font-size: 4.5rem;
  
  &:hover {
    transform: scale(1.2);
  }
}