@use 'config/variaveis';
@use 'config/headers';
@use 'config/hero';
@use 'config/destaques';
@use 'config/footer';
@use 'config/cadastro';
@use 'config/cardapio';
@use 'config/perfil';
@use 'config/pedido';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: variaveis.$fontPrincipal;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
      margin: 0;
      padding: 0;
  }
}

button {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.btn {
  border: none;

  &:hover {
  background-color: variaveis.$corSecundaria;
  color: variaveis.$corPrincipal;
  box-shadow: none;
  }
}

.btn__login {
  position: fixed;
  bottom: 5rem;
  right: 10rem;
  border-radius: 45px;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  color: variaveis.$corSecundaria;
  font-size: 4rem;
  z-index: 999;
  
  &:hover {
    transform: scale(1.2);
  }
}



.btn__up {
  position: fixed;
  bottom: 5.3rem;
  right: 5rem;
  border-radius: 45px;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  color: variaveis.$corSecundaria;
  font-size: 4.5rem;
  z-index: 999;
  
  &:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 991px) {
  .btn__login {
    display: none;
  }
}

@media (max-width: 767px) {
  .btn__up {
    display: none;
  }
}