* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

.container {
  display: flex;
  margin: 0 10vw;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: #332F2B;

  img {
    height: 5rem;
  }

  .menu-hamburguer {
    width: 3rem;
    cursor: pointer;

    span {
      height: .2rem;
      width: 100%;
      background-color: #fff;
      display: block;
      margin-bottom: .4rem;
    }
  }
}

.main-img {
  img {
    width: 100vw;
  }
}

.about {
  background-color: #CA8122;

  .about__img {
    margin: 2rem 0;
  }

  .about__text {
    margin-left: 5rem;

    &__head {
      display: flex;
      align-items: center;

      h2 {
        font-weight: bold;
        font-size: 2rem;
        color: #4B4032;
      }
    }
    
    &__p {
      font-weight: normal;
      font-size: 1rem;
      color: #4B4032;
    }
  }
}