@use 'variaveis';

#cardapio {
    .menu {
        a {
            text-decoration: none;
            color: variaveis.$corTitle;
        }

        .coluna {
            padding: 1rem;
            margin: 1rem;
            border-radius: 10px;

            &:hover {
                background-color: variaveis.$corSecundaria;
            }
        }
    }
}