@use 'variaveis';

.image-text-section {
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;

    &__text_container {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        margin: 1rem;

        h2 {
            margin-bottom: 1.5rem;
        } 
        p {
            margin-bottom: 3.6rem;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;
        
        img {
            width: 100%;
            height: auto;
        }

        &__text_container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
            
        .btn-hero img {
            height: 6rem;
            width: 21rem;
        }
    }
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: variaveis.$corTitle;
}

.text {
    display: flex;
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    color: #fff;
}

@media (max-width: 1200px) {
    .image-text-section {
        &__text_container {
            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.2rem;
            }

            .btn-hero img {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .image-text-section {
        &__text_container {
            h2 {
                font-size: 1.1rem;
                margin: 1rem;
            }

            p {
                font-size: .8rem;
            }

            .btn-hero img {
                display: none;
            }
        }
    }
}

@media (max-width: 511px) {
    .image-text-section {
        &__text_container {
            display: none;
        }
    }
}